body {
  background-color: burlywood;
}
img {
  max-width: 100%;
  border-radius: 15px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;

  font-size: 18px;
}
footer a {
  padding: 18px;
  margin: 16px;
  color: green;
}

h1 {
  text-align: center;
}

.contact {
  text-align: center;
  font-size: 18px;
}
p {
  padding: 15px;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
}
